.lista_atividades{
    border: solid;
    border-radius: 10px;
    margin-top: 4%;
    margin-bottom: 15%;
    margin-right: 38%;
    margin-left: 34%;
    padding-top: 3%;
    padding-bottom: 2%;
}

h1{
    margin-top: 6%;
    margin-left: 37%;
    font-family: "Courier New", Courier, monospace;
    color: black;

}

ul{
    font-size: 25px;
}